$defaultGoldThemeHover: rgba(255, 215, 0, 0.5);

.goldenMode {
  color: black;
  background-color: rgb(255, 239, 187);

  input {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }

  span {
    color: black;
  }

  #switchTheme {
    background-color: rgb(153, 102, 0);
    .wheel {
      background-color: rgb(255, 215, 0);
      transform: translateX(55%);
    }
  }

  li {
    .indicator {
      background-color: black;
    }
    &:hover {
      background-color: $defaultGoldThemeHover;
    }
  }
  .liActive {
    background-color: $defaultGoldThemeHover;
  }

  .rightHeaderOptions {
    &:hover {
      background-color: $defaultGoldThemeHover;
    }
  }

  .microsoft,
  .devices,
  .recommendation,
  .personalize {
    background-color: rgb(230, 184, 0);
  }

  .mainSettingOptionLi,
  .addDevice,
  .viewMoreDevices {
    background-color: rgb(230, 184, 0);
    &:hover {
      background-color: $defaultGoldThemeHover; 
    }
  }
  .signIn {
    background-color: rgb(230, 184, 0);
    border: solid 1px black;
    color: black;
    &:hover {
      background-color: $defaultGoldThemeHover;
    }
  }
}
