.darkMode {
  color: white;
  background-color: rgb(50, 50, 50);

  input {
    background-color: rgb(340, 340, 340, 0.1);
    color: white;
  }

  span {
    color: white;
  }

  li {
    .indicator {
      background-color: white;
    }
    &:hover {
      background-color: rgb(100, 100, 100);
    }
  }
  .liActive {
    background-color: rgb(100, 100, 100);
  }

  .rightHeaderOptions {
    &:hover {
      background-color: rgb(340, 340, 340, 0.1);
    }
  }

  .microsoft,
  .devices,
  .recommendation,
  .personalize {
    background-color: rgb(60, 60, 60);
  }

  .mainSettingOptionLi {
    background-color: rgb(60, 60, 60);
    &:hover {
      background-color: rgb(340, 340, 340, 0.1);
    }
  }

  button {
    aspect-ratio: 1.5/1;
    margin-right: 50px;
    width: 50px;
    border-radius: 20px;
    border: solid 1px;
    position: relative;
    padding: 1px;
    background-color: rgb(233, 233, 233);
    transition: all 0.3s ease-in-out;
    .wheel {
      aspect-ratio: 1/1;
      height: 30px;
      border-radius: 50%;
      border: solid 1px;
      background-color: rgb(50, 50, 50);
      transform: translateX(55%);
      transition: all 0.5s ease-in-out;
    }
  }
}
