@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
$leftSidebarSize: 300px;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 200, "opsz" 48;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  // border: solid 1px;
  font-size: 1rem;
  // color: white;
  // background-color: rgb(50, 50, 50);
  // color: rgb(50, 50, 50);
  // background-color: white;
  scroll-behavior: smooth;
}

body {
  transition: all 0.3s ease;
  cursor: default;
}

span {
  cursor: pointer;
  background-color: transparent;
  color: white;
  // color: black;
}
.defaultIcons {
  height: 30px;
  margin-right: 2px;
}

.mainSettingOptionUl {
  list-style: none;
  .mainSettingOptionLi {
    @include flex(row, center, start);
    // background-color: rgb(50, 49, 49);
    position: relative;
    height: 70px;
    border: solid 1px;
    margin: 5px 0;
    border-radius: 5px;
    // &:hover {
    //   background-color: rgb(340, 340, 340, 0.5);
    //   // background-color: red;
    // }

    .mainSettingIcon {
      margin: 20px;
    }
    .detailContainer {
      @include flex(column, start, center);
      line-height: 20px;
      background-color: transparent;
      .mainSettingName {
        background-color: transparent;
        font-weight: bold;
      }
      .mainSettingDescription {
        background-color: transparent;
        font-size: 0.8rem;
      }
    }
    .navNext {
      position: absolute;
      right: 20px;
    }
  }
}

//default toggle buttons
.defaultBtn {
  .defaultBtnIndicator {
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
  }
  .defaultBtnToogle {
    aspect-ratio: 1.6/1;
    height: 25px;
    border-radius: 20px;
    border: solid 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: lightgray;

    .defaultBtnWheel {
      aspect-ratio: 1/1;
      height: 15px;
      margin-left: 3px;
      border-radius: 50%;
      transition: ease-in 0.3s;
      border: solid 1px;
    }

    .defaultBtnOff {
      background-color: white;
    }
    .defaultBtnOn {
      transform: translateX(17px);
      background-color: black;
    }
  }
}
