.darkMode {
  color: white;
  background-color: rgb(50, 50, 50);
}
.darkMode input {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.darkMode span {
  color: white;
}
.darkMode #switchTheme {
  background-color: rgb(233, 233, 233);
}
.darkMode #switchTheme .wheel {
  background-color: rgb(50, 50, 50);
  transform: translateX(55%);
}
.darkMode li .indicator {
  background-color: white;
}
.darkMode li:hover {
  background-color: rgb(100, 100, 100);
}
.darkMode .liActive {
  background-color: rgb(100, 100, 100);
}
.darkMode .rightHeaderOptions:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.darkMode .microsoft,
.darkMode .devices,
.darkMode .recommendation,
.darkMode .personalize {
  background-color: rgb(60, 60, 60);
}
.darkMode .mainSettingOptionLi,
.darkMode .addDevice,
.darkMode .viewMoreDevices {
  background-color: rgb(60, 60, 60);
}
.darkMode .mainSettingOptionLi:hover,
.darkMode .addDevice:hover,
.darkMode .viewMoreDevices:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.darkMode .signIn {
  background-color: rgb(60, 60, 60);
  border: solid 1px white;
  color: white;
}
.darkMode .signIn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lightMode {
  color: rgb(50, 50, 50);
  background-color: rgb(233, 233, 233);
}
.lightMode input {
  background-color: rgba(210, 210, 210, 0.3);
}
.lightMode span {
  color: rgb(50, 50, 50);
}
.lightMode #switchTheme {
  background-color: rgb(50, 50, 50);
}
.lightMode #switchTheme .wheel {
  background-color: rgb(233, 233, 233);
  transition: all 0.5s ease-in-out;
}
.lightMode li .indicator {
  background-color: black;
}
.lightMode li:hover {
  background-color: rgb(210, 210, 210);
}
.lightMode .liActive {
  background-color: rgb(210, 210, 210);
}
.lightMode .rightHeaderOptions:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
.lightMode .microsoft,
.lightMode .devices,
.lightMode .recommendation,
.lightMode .personalize {
  background-color: white;
}
.lightMode .mainSettingOptionLi,
.lightMode .addDevice,
.lightMode .viewMoreDevices {
  background-color: white;
}
.lightMode .mainSettingOptionLi:hover,
.lightMode .addDevice:hover,
.lightMode .viewMoreDevices:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
.lightMode .signIn {
  background-color: white;
  border: solid 1px black;
  color: black;
}
.lightMode .signIn:hover {
  background-color: rgba(210, 210, 210, 0.3);
}

.goldenMode {
  color: black;
  background-color: rgb(255, 239, 187);
}
.goldenMode input {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
.goldenMode span {
  color: black;
}
.goldenMode #switchTheme {
  background-color: rgb(153, 102, 0);
}
.goldenMode #switchTheme .wheel {
  background-color: rgb(255, 215, 0);
  transform: translateX(55%);
}
.goldenMode li .indicator {
  background-color: black;
}
.goldenMode li:hover {
  background-color: rgba(255, 215, 0, 0.5);
}
.goldenMode .liActive {
  background-color: rgba(255, 215, 0, 0.5);
}
.goldenMode .rightHeaderOptions:hover {
  background-color: rgba(255, 215, 0, 0.5);
}
.goldenMode .microsoft,
.goldenMode .devices,
.goldenMode .recommendation,
.goldenMode .personalize {
  background-color: rgb(230, 184, 0);
}
.goldenMode .mainSettingOptionLi,
.goldenMode .addDevice,
.goldenMode .viewMoreDevices {
  background-color: rgb(230, 184, 0);
}
.goldenMode .mainSettingOptionLi:hover,
.goldenMode .addDevice:hover,
.goldenMode .viewMoreDevices:hover {
  background-color: rgba(255, 215, 0, 0.5);
}
.goldenMode .signIn {
  background-color: rgb(230, 184, 0);
  border: solid 1px black;
  color: black;
}
.goldenMode .signIn:hover {
  background-color: rgba(255, 215, 0, 0.5);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 200, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  transition: all 0.3s ease;
  cursor: default;
}

span {
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.defaultIcons {
  height: 30px;
  margin-right: 2px;
}

.mainSettingOptionUl {
  list-style: none;
}
.mainSettingOptionUl .mainSettingOptionLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  height: 70px;
  border: solid 1px;
  margin: 5px 0;
  border-radius: 5px;
}
.mainSettingOptionUl .mainSettingOptionLi .mainSettingIcon {
  margin: 20px;
}
.mainSettingOptionUl .mainSettingOptionLi .detailContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 20px;
  background-color: transparent;
}
.mainSettingOptionUl .mainSettingOptionLi .detailContainer .mainSettingName {
  background-color: transparent;
  font-weight: bold;
}
.mainSettingOptionUl .mainSettingOptionLi .detailContainer .mainSettingDescription {
  background-color: transparent;
  font-size: 0.8rem;
}
.mainSettingOptionUl .mainSettingOptionLi .navNext {
  position: absolute;
  right: 20px;
}

.defaultBtn .defaultBtnIndicator {
  position: absolute;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
}
.defaultBtn .defaultBtnToogle {
  aspect-ratio: 1.6/1;
  height: 25px;
  border-radius: 20px;
  border: solid 1px;
  top: 50%;
  transform: translateY(-50%);
  background-color: lightgray;
}
.defaultBtn .defaultBtnToogle .defaultBtnWheel {
  aspect-ratio: 1/1;
  height: 15px;
  margin-left: 3px;
  border-radius: 50%;
  transition: ease-in 0.3s;
  border: solid 1px;
}
.defaultBtn .defaultBtnToogle .defaultBtnOff {
  background-color: white;
}
.defaultBtn .defaultBtnToogle .defaultBtnOn {
  transform: translateX(17px);
  background-color: black;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .leftSidebar {
  width: 300px;
  height: 100vh;
  padding-left: 15px;
}
.contentContainer .leftSidebar .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .leftSidebar .heading span {
  margin: 15px 10px 10px 0;
}
.contentContainer .leftSidebar .heading p {
  flex: 1;
}
.contentContainer .leftSidebar .heading #switchTheme {
  cursor: pointer;
  aspect-ratio: 1.5/1;
  margin-right: 50px;
  width: 50px;
  border-radius: 20px;
  border: solid 1px;
  position: relative;
  padding: 1px;
  transition: all 0.3s ease-in-out;
}
.contentContainer .leftSidebar .heading #switchTheme .wheel {
  aspect-ratio: 1/1;
  height: 30px;
  border-radius: 50%;
  border: solid 1px;
  transition: all 0.5s ease-in-out;
}
.contentContainer .leftSidebar .accountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .leftSidebar .accountContainer .accProfile {
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: solid 1px;
  margin: 5px 10px 10px 0;
}
.contentContainer .leftSidebar .accountContainer .accDetails {
  flex: 1;
}
.contentContainer .leftSidebar .accountContainer .accDetails p {
  line-height: 20px;
}
.contentContainer .leftSidebar .accountContainer .accDetails p .userName {
  font-weight: bold;
}
.contentContainer .leftSidebar .searchContainer {
  position: relative;
  margin-bottom: 15px;
}
.contentContainer .leftSidebar .searchContainer input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border-bottom: solid 1px;
}
.contentContainer .leftSidebar .searchContainer span {
  position: absolute;
  transform: translateY(-50%);
}
.contentContainer .leftSidebar .searchContainer .close {
  right: 50px;
  top: 50%;
}
.contentContainer .leftSidebar .searchContainer .search {
  right: 10px;
  top: 50%;
}
.contentContainer .leftSidebar ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style: none;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  transition: all 0.5s ease-out;
}
.contentContainer .leftSidebar ul li .indicator {
  position: absolute;
  border-radius: 5px;
  width: 4px;
  height: 15px;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  display: none;
  transition: all 0.5s ease-out;
}
.contentContainer .leftSidebar ul li span {
  margin-right: 15px;
  margin-left: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: default;
}
.contentContainer .leftSidebar ul li p {
  flex: 1;
  background-color: transparent;
}
.contentContainer .settingContents {
  height: 100vh;
  flex: 1;
  z-index: 10;
  position: relative;
}
.contentContainer .settingContents p {
  position: absolute;
  background-color: transparent;
  top: 50px;
  left: 120px;
  font-size: 2rem;
  font-weight: 600;
}
.contentContainer .settingContents .contents {
  display: none;
  width: 90%;
  margin-left: 10%;
  padding-top: 100px;
}
.contentContainer .settingContents .activeContents {
  height: 100vh;
  flex: 1;
  display: block;
}
.contentContainer .settingContents .mainContainer {
  height: 585px;
  overflow: auto;
}
.contentContainer .settingContents .mainContainer .settingsMainContent {
  width: 90%;
}
.contentContainer .settingContents .homeContainer .settingsMainContent {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}
.contentContainer .settingContents .homeContainer .settingsMainContent div {
  border-radius: 7px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent {
  flex: 1;
  padding-right: 4px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .microsoft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 1px;
  height: 270px;
  margin-bottom: 8px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .microsoft .mslogo {
  position: absolute;
  top: 13px;
  left: 20px;
  height: 25px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .microsoft .leftContentContents {
  padding: 0 20px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .microsoft .leftContentContents .microsoftTitle {
  font-size: 1.5rem;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .microsoft .leftContentContents .microsoftDescription {
  margin: 13px 0 7px 0;
  font-size: 1rem;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .microsoft button {
  position: absolute;
  bottom: 13px;
  left: 20px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .leftContent .devices {
  border: solid 1px;
  height: 220px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .rightContent {
  padding-left: 4px;
  flex: 1;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .rightContent .recommendation {
  border: solid 1px;
  height: 300px;
  margin-bottom: 8px;
}
.contentContainer .settingContents .homeContainer .settingsMainContent .rightContent .personalize {
  border: solid 1px;
  height: 320px;
}
.contentContainer .settingContents .header {
  width: 90%;
}
.contentContainer .settingContents .systemContainer .header,
.contentContainer .settingContents .homeContainer .header,
.contentContainer .settingContents .networkContainer .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
}
.contentContainer .settingContents .systemContainer .header .leftHeader,
.contentContainer .settingContents .homeContainer .header .leftHeader,
.contentContainer .settingContents .networkContainer .header .leftHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .leftIcon,
.contentContainer .settingContents .homeContainer .header .leftHeader .leftIcon,
.contentContainer .settingContents .networkContainer .header .leftHeader .leftIcon {
  font-size: 80px;
  margin-right: 20px;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo,
.contentContainer .settingContents .homeContainer .header .leftHeader .pcInfo,
.contentContainer .settingContents .networkContainer .header .leftHeader .pcInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 60px;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .pcName,
.contentContainer .settingContents .homeContainer .header .leftHeader .pcInfo .pcName,
.contentContainer .settingContents .networkContainer .header .leftHeader .pcInfo .pcName {
  font-weight: bold;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .pcBrand,
.contentContainer .settingContents .homeContainer .header .leftHeader .pcInfo .pcBrand,
.contentContainer .settingContents .networkContainer .header .leftHeader .pcInfo .pcBrand {
  font-size: 0.8rem;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .rename,
.contentContainer .settingContents .homeContainer .header .leftHeader .pcInfo .rename,
.contentContainer .settingContents .networkContainer .header .leftHeader .pcInfo .rename {
  font-size: 0.8rem;
  cursor: pointer;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .rename:hover,
.contentContainer .settingContents .homeContainer .header .leftHeader .pcInfo .rename:hover,
.contentContainer .settingContents .networkContainer .header .leftHeader .pcInfo .rename:hover {
  opacity: 0.7;
}
.contentContainer .settingContents .systemContainer .header .rightHeader,
.contentContainer .settingContents .homeContainer .header .rightHeader,
.contentContainer .settingContents .networkContainer .header .rightHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex: 1;
  flex-wrap: wrap;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions,
.contentContainer .settingContents .homeContainer .header .rightHeader .rightHeaderOptions,
.contentContainer .settingContents .networkContainer .header .rightHeader .rightHeaderOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: default;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions span,
.contentContainer .settingContents .homeContainer .header .rightHeader .rightHeaderOptions span,
.contentContainer .settingContents .networkContainer .header .rightHeader .rightHeaderOptions span {
  margin-right: 10px;
  font-size: 2rem;
  cursor: default;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions .info,
.contentContainer .settingContents .homeContainer .header .rightHeader .rightHeaderOptions .info,
.contentContainer .settingContents .networkContainer .header .rightHeader .rightHeaderOptions .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 40px;
  background-color: transparent;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions .info .name,
.contentContainer .settingContents .homeContainer .header .rightHeader .rightHeaderOptions .info .name,
.contentContainer .settingContents .networkContainer .header .rightHeader .rightHeaderOptions .info .name {
  font-weight: bold;
  background-color: transparent;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions .info .details,
.contentContainer .settingContents .homeContainer .header .rightHeader .rightHeaderOptions .info .details,
.contentContainer .settingContents .networkContainer .header .rightHeader .rightHeaderOptions .info .details {
  font-size: 0.8rem;
  background-color: transparent;
}
.contentContainer .settingContents .bluetoothContainer .header {
  margin-bottom: 20px;
}
.contentContainer .settingContents .bluetoothContainer .header .addDevice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 220px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid;
}
.contentContainer .settingContents .bluetoothContainer .header .addDevice span {
  font-size: 90px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 200, "opsz" 48;
}
.contentContainer .settingContents .bluetoothContainer .header .viewMoreDevices {
  border: solid 1px;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
}
.contentContainer .settingContents .networkContainer .header {
  margin-bottom: 20px;
}
.contentContainer .settingContents .networkContainer .header .leftHeader .netrworkName {
  font-size: 1.5rem;
  font-weight: 600;
}
.contentContainer .settingContents .networkContainer .header .leftHeader .networkInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
.contentContainer .settingContents .networkContainer .header .leftHeader .networkInfo .networkInfoIcon {
  font-size: 1.1rem;
  margin-right: 2px;
}
.contentContainer .settingContents .networkContainer .header .leftHeader .networkInfo .wifiStatus {
  font-size: 1rem;
  text-align: center;
}
.contentContainer .settingContents .networkContainer .header .rightHeader .properties {
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.contentContainer .settingContents .networkContainer .header .rightHeader .properties .name {
  font-weight: 600;
  margin-bottom: 2.5px;
}
.contentContainer .settingContents .networkContainer .header .rightHeader .properties .details,
.contentContainer .settingContents .networkContainer .header .rightHeader .properties .additionalDetails {
  font-size: 0.8rem;
  margin-bottom: -1px;
}
.contentContainer .settingContents .networkContainer .header .rightHeader .dataUsage {
  padding: 7px 0 7px 0;
}
.contentContainer .settingContents .networkContainer .header .rightHeader .dataUsage .name {
  font-weight: 600;
  margin-bottom: 2.5px;
}
.contentContainer .settingContents .networkContainer .header .rightHeader .dataUsage .details {
  font-size: 0.8rem;
  margin-bottom: -1px;
}/*# sourceMappingURL=main.css.map */