* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  background-color: rgb(49, 48, 48);
  scroll-behavior: smooth;
}

span {
  cursor: pointer;
  background-color: transparent;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .leftSidebar {
  width: 300px;
  height: 100vh;
  padding-left: 15px;
}
.contentContainer .leftSidebar .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .leftSidebar .heading span {
  margin: 15px 15px 15px 0;
}
.contentContainer .leftSidebar .heading p {
  flex: 1;
}
.contentContainer .leftSidebar .accountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .leftSidebar .accountContainer span {
  font-size: 60px;
  margin: 15px 15px 15px 0;
}
.contentContainer .leftSidebar .accountContainer .accDetails {
  flex: 1;
}
.contentContainer .leftSidebar .accountContainer .accDetails p {
  line-height: 20px;
}
.contentContainer .leftSidebar .accountContainer .accDetails p .userName {
  font-weight: bold;
}
.contentContainer .leftSidebar .searchContainer {
  position: relative;
  margin-bottom: 15px;
}
.contentContainer .leftSidebar .searchContainer input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: solid 1px;
}
.contentContainer .leftSidebar .searchContainer span {
  position: absolute;
  transform: translateY(-50%);
}
.contentContainer .leftSidebar .searchContainer .close {
  right: 50px;
  top: 50%;
}
.contentContainer .leftSidebar .searchContainer .search {
  right: 10px;
  top: 50%;
}
.contentContainer .leftSidebar ul .liActive {
  background-color: rgb(107, 107, 107);
}
.contentContainer .leftSidebar ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style: none;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  border-radius: 7px;
  transition: all 0.3s ease-out;
}
.contentContainer .leftSidebar ul li:hover {
  background-color: rgb(107, 107, 107);
}
.contentContainer .leftSidebar ul li .indicator {
  position: absolute;
  border-radius: 5px;
  width: 4px;
  background-color: lightblue;
  height: 15px;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  display: none;
  transition: all 0.3s ease-out;
}
.contentContainer .leftSidebar ul li span {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 1.5rem;
  background-color: transparent;
}
.contentContainer .leftSidebar ul li p {
  flex: 1;
  background-color: transparent;
}
.contentContainer .settingContents {
  height: 100vh;
  flex: 1;
  z-index: 10;
  position: relative;
}
.contentContainer .settingContents p {
  position: absolute;
  background-color: transparent;
  top: 70px;
  left: 120px;
  font-size: 2rem;
}
.contentContainer .settingContents .contents {
  display: none;
  width: 90%;
  margin-left: 10%;
  padding-top: 120px;
}
.contentContainer .settingContents .activeContents {
  height: 100vh;
  flex: 1;
  display: block;
}
.contentContainer .settingContents .mainContainer {
  height: 585px;
  overflow: auto;
}
.contentContainer .settingContents .mainContainer .settingsMainContent {
  width: 90%;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl {
  list-style: none;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: rgb(50, 49, 49);
  position: relative;
  height: 70px;
  border: solid 1px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi .mainSettingIcon {
  margin: 20px;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi .detailContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 20px;
  background-color: transparent;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi .detailContainer .mainSettingName {
  background-color: transparent;
  font-weight: bold;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi .detailContainer .mainSettingDescription {
  background-color: transparent;
  font-size: 0.8rem;
}
.contentContainer .settingContents .mainContainer .settingsMainContent .mainSettingOptionUl .mainSettingOptionLi .navNext {
  position: absolute;
  right: 20px;
}
.contentContainer .settingContents .systemContainer .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
}
.contentContainer .settingContents .systemContainer .header .leftHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .settingContents .systemContainer .header .leftHeader span {
  font-size: 80px;
  margin-right: 20px;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 60px;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .pcName {
  font-weight: bold;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .pcBrand {
  font-size: 0.8rem;
}
.contentContainer .settingContents .systemContainer .header .leftHeader .pcInfo .rename {
  font-size: 0.8rem;
}
.contentContainer .settingContents .systemContainer .header .rightHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions span {
  margin-right: 10px;
  font-size: 2rem;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 40px;
  background-color: transparent;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions .info .name {
  font-weight: bold;
  background-color: transparent;
}
.contentContainer .settingContents .systemContainer .header .rightHeader .rightHeaderOptions .info .details {
  font-size: 0.8rem;
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */